* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("imgs/architecture-bridge-close-up-1782002.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/*------- NAV BAR ------- */

#nav-bar {
  width: 100%;
  background-color: rgb(38, 189, 189);
  padding: 20px;
}

#title {
  color: white;
  font-size: 3em;
}

/*------- THOUGHT DIV ------- */

#main-thoughts {
  width: 80%;
  margin: 0 auto;
}


.thoughts {
  border: 1px solid black;
  margin: 15px 0;
  background-color: white;
  width: 50%;
  margin: 20px auto;
}

.thought-header {
  background-color: rgb(157, 157, 219);
}

.thought-header h3 {
  font-size: 1.9em;
}

.thoughts p {
  font-size: 1.7em;
}

.thought-header img {
  width: 100px;
  height: 100px;
}

.replies-link {
  height: 35px;
  width: 100px;
}

.single-reply {
  background-color: lightblue;
}

.parentReplyDiv {
  display: none;
}

.commentDiv {
  display: none;
}